
body {
	background-color: lightblue;
} 

h1 {
	color: red;
	font-size: 250%;
	text-align: center;
}

footer {
	color: black;
	text-align: center;
	font-weight: bold;
}

pre {
	text-align: center;
}
